.tasksContainer {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.taskDiv {
    width: calc(40vw + 100px);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    position: relative;
    margin-bottom: 10px;
}

.trashButton {
    width: 36px;
    height: 36px;
    padding: 4px;
    color: #FFFF;
    background-color: #f91362;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 2px;
}